In [1]:
import pandas as pd
import numpy as np

In [17]:
# Task 1: Create dataframes and save to CSV 
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": [
        "Project 1", "Project 2", "Project 3", "Project 4", "Project 5",
        "Project 6", "Project 7", "Project 8", "Project 9", "Project 10",
        "Project 11", "Project 12", "Project 13", "Project 14"
    ],
    "Cost": [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": [
        "Finished", "Ongoing", "Finished", "Ongoing", "Finished",
        "Failed", "Finished", "Failed", "Ongoing", "Finished",
        "Failed", "Ongoing", "Finished", "Finished"
    ]
}
project_df = pd.DataFrame(project_data)

employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxemburg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

project_df.to_csv("project.csv", index=False)
employee_df.to_csv("employee.csv", index=False)
seniority_df.to_csv("seniority.csv", index=False)

print("Task 1: DataFrames created and saved.\n")
print("Project DataFrame:\n", project_df, "\n")
print("Employee DataFrame:\n", employee_df, "\n")
print("Seniority DataFrame:\n", seniority_df, "\n")

Task 1: DataFrames created and saved.

Project DataFrame:
       ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

Employee DataFrame:
      ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxemburg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

Seniority DataFrame:
      ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [18]:
#  Task 2: Replace missing 'Cost' using running average with a for loop 
costs = project_df['Cost'].values  # numpy array

for i in range(len(costs)):
    if np.isnan(costs[i]):
        prev_vals = costs[:i][~np.isnan(costs[:i])]  # previous non-NaN values
        if len(prev_vals) > 0:
            costs[i] = np.mean(prev_vals)
        else:
            costs[i] = 0  # default if first value is NaN

project_df['Cost'] = costs
print("Task 2: Missing 'Cost' replaced by running average:\n", project_df['Cost'], "\n")

Task 2: Missing 'Cost' replaced by running average:
 0     1002000.0
1     2000000.0
2     4500000.0
3     5500000.0
4     3250500.0
5      680000.0
6      400000.0
7      350000.0
8     2210312.5
9      300000.0
10    2000000.0
11    1000000.0
12    3000000.0
13     200000.0
Name: Cost, dtype: float64

In [19]:
# Task 3: Split 'Name' into 'First Name' and 'Last Name' 
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)
employee_df.drop(columns=['Name'], inplace=True)
print("Task 3: Split 'Name' column:\n", employee_df, "\n")

Task 3: Split 'Name' column:
      ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxemburg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [20]:
# Task 4: Join all three dataframes into one named 'Final' 
final_df = project_df.merge(employee_df, on='ID', how='left').merge(seniority_df, on='ID', how='left')
print("Task 4: Joined DataFrame 'Final':\n", final_df, "\n")

Task 4: Joined DataFrame 'Final':
       ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxemburg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxemburg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

In [21]:
# Task 5: Add bonus column - 5% bonus of project cost for finished projects only 
final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', final_df['Cost'] * 0.05, 0)
print("Task 5: Bonus column added:\n", final_df[['Project', 'Status', 'Cost', 'Bonus']], "\n")

Task 5: Bonus column added:
        Project    Status       Cost     Bonus
0    Project 1  Finished  1002000.0   50100.0
1    Project 2   Ongoing  2000000.0       0.0
2    Project 3  Finished  4500000.0  225000.0
3    Project 4   Ongoing  5500000.0       0.0
4    Project 5  Finished  3250500.0  162525.0
5    Project 6    Failed   680000.0       0.0
6    Project 7  Finished   400000.0   20000.0
7    Project 8    Failed   350000.0       0.0
8    Project 9   Ongoing  2210312.5       0.0
9   Project 10  Finished   300000.0   15000.0
10  Project 11    Failed  2000000.0       0.0
11  Project 12   Ongoing  1000000.0       0.0
12  Project 13  Finished  3000000.0  150000.0
13  Project 14  Finished   200000.0   10000.0

In [22]:
#  Task 6: Demote designation level by 1 where status is 'Failed'; delete employees with designation level > 4 
# Demote by 1 if status == 'Failed'
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1
print("Task 6: Demoted designation level and removed levels > 4:\n", final_df[['ID', 'Status', 'Designation Level']], "\n")

Task 6: Demoted designation level and removed levels > 4:
       ID    Status  Designation Level
0   A001  Finished                  2
1   A002   Ongoing                  2
2   A003  Finished                  3
3   A004   Ongoing                  2
4   A005  Finished                  3
5   A002    Failed                  1
6   A005  Finished                  3
7   A003    Failed                  2
8   A001   Ongoing                  2
9   A003  Finished                  3
10  A001    Failed                  1
11  A004   Ongoing                  2
12  A004  Finished                  2
13  A005  Finished                  3

In [23]:
# Task 7: Add 'Mr.' and 'Mrs.' to first names and drop 'Gender' column 
final_df['First Name'] = np.where(final_df['Gender'] == 'M', 'Mr. ' + final_df['First Name'], 'Mrs. ' + final_df['First Name'])
final_df.drop(columns=['Gender'], inplace=True)
print("Task 7: Added prefixes and dropped Gender:\n", final_df[['First Name', 'Age']], "\n")

Task 7: Added prefixes and dropped Gender:
     First Name  Age
0     Mr. John   25
1   Mrs. Alice   27
2      Mr. Tom   29
3    Mrs. Nina   31
4     Mrs. Amy   30
5   Mrs. Alice   27
6     Mrs. Amy   30
7      Mr. Tom   29
8     Mr. John   25
9      Mr. Tom   29
10    Mr. John   25
11   Mrs. Nina   31
12   Mrs. Nina   31
13    Mrs. Amy   30

In [30]:
# Task 8: Promote designation level to 1 if employee age > 29 
for i in range(len(final_df)):
    # Check if Age is greater than 29
    if final_df.loc[i, 'Age'] > 29:
        # Set Designation Level to 1
        final_df.loc[i, 'Designation Level'] = 1


print("Task 8: Promoted designation level to 1 where Age > 29\n")
print(final_df[['ID', 'Age', 'Designation Level']])

Task 8: Promoted designation level to 1 where Age > 29

      ID  Age  Designation Level
0   A001   25                  2
1   A002   27                  2
2   A003   29                  3
3   A004   31                  1
4   A005   30                  1
5   A002   27                  1
6   A005   30                  1
7   A003   29                  2
8   A001   25                  2
9   A003   29                  3
10  A001   25                  1
11  A004   31                  1
12  A004   31                  1
13  A005   30                  1

In [28]:
# Task 9: Add total project cost per employee 
# Group by ID and sum Cost
total_proj_cost = final_df.groupby('ID')['Cost'].sum().reset_index(name='TotalProjCost')

# Merge total cost back with first and last names
total_proj_cost = total_proj_cost.merge(final_df[['ID', 'First Name',]].drop_duplicates(), on='ID')

print("Task 9: Total project cost per employee:\n", total_proj_cost, "\n")

Task 9: Total project cost per employee:
      ID  TotalProjCost  First Name
0  A001      5212312.5    Mr. John
1  A002      2680000.0  Mrs. Alice
2  A003      5150000.0     Mr. Tom
3  A004      9500000.0   Mrs. Nina
4  A005      3850500.0    Mrs. Amy

In [26]:
#  Task 10: Print employee details where city name contains letter 'o' 
employees_with_o = final_df[final_df['City'].str.contains('o', case=False, na=False)]
print("Task 10: Employees with 'o' in city name:\n", employees_with_o[['ID', 'First Name', 'Last Name', 'City']], "\n")

Task 10: Employees with 'o' in city name:
       ID  First Name  Last Name     City
1   A002  Mrs. Alice  Luxemburg   London
3   A004   Mrs. Nina      Adgra  Newyork
5   A002  Mrs. Alice  Luxemburg   London
11  A004   Mrs. Nina      Adgra  Newyork
12  A004   Mrs. Nina      Adgra  Newyork